*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}


form{
    width: 600px;
    margin: auto;
    padding: 10px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    gap:  8px;
}

form  * {
    padding: 8px;
    font: 1.2rem;
}